[client-server]
socket                          = %confDir%/mariadb.sock
port                            = %port%

[client]
default-character-set           = utf8
character-sets-dir              = utf8

[mysqld]
#skip-external-locking
log-error                       = %logDir%/mariadb.log
basedir                         = /usr
datadir                         = %dataDir%
pid-file                         = %confDir%/mariadb.pid
log_warnings                    = %log_level%
init_connect                    = SET collation_connection = utf8_general_ci
init_connect                    = SET NAMES utf8
character-set-server            = utf8
collation-server                = utf8_general_ci
max_connections                 = %max_connections%
connect_timeout                 = %connect_timeout%
wait_timeout                    = %wait_timeout%
interactive_timeout             = %interactive_timeout%

[mysqldump]
default-character-set = utf8

[mysql]
default-character-set = utf8
